<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
			<div class="logo">
				<a href="{{site.baseurl}}/"><img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/logoFooter.svg" /></a>
			</div>
          <ul>
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/contact">Contact</a></li>
			<li class="fa fa-phone">{{ site.data.contact.phone }}</li>
            <li><strong>Email: </strong><a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a></li>

            <li class="copyright">© {{site.title}} {{site.time | date:'%Y'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
