<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
			<div class="logo">
				<a href="{{site.baseurl}}/"><img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/logoFooter.svg" /></a>
			</div>
          <ul>
		   <li></li>
            <li>DevKats is a global service company offering web and mobile application development, consulting, implementation and business intelligence solutions to clients belonging to various business verticals.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>